<link rel="stylesheet" href="./stylesheets/style.css" />
<img src="./images/cinema.jpg" alt="tf" class="background-image" />
  <div class="overlay-content">
    <h1>Cinema Ironhack</h1>
    <a href="/movies">Check the movies!</a>
  </div>